@using CoreFrame.Entity;
@using CoreFrame.Util;
@using CoreFrame.Entity.ArticleManage;
@model Sakura.AspNetCore.IPagedList<Article>
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@{
    ViewBag.Title = "首页- codegloble";
    int pageIndex = ViewBag.PageIndex;
    int totalPage = ViewBag.TotalPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="es-poster swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-hidden" style="background: #3884e0;">
            <div class="container">
                <a href="@Vars.MAIN_SITE" target="_blank">
                    <img class="img-responsive" src="~/images//205247fdcebb219229.jpg">
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-pager"></div>
</section>
<section class="course-list-section " id="course-list-section">
    <div class="container">
        <div class="text-line">
            <h5>
                <span>精选文章</span>
            </h5>
            <div class="subtitle">分享你感兴趣的热门技术</div>
        </div>
        <div class="course-filter" id="course-filter">
            <div class="course-sort btn-group">
                @if (ViewBag.TagList != null)
                {
                    List<Tag> tagList = ViewBag.TagList as List<Tag>;
                    foreach (var tag in tagList)
                    {
                        <a href="javascript:;" class="btn btn-default  js-course-filter" data-url="index/tagId=@tag.Id" data-type="course">
                            @tag.TagName
                        </a>
                    }
                }

                @*<a href="javascript:;" class="btn btn-default  active js-course-filter" data-url="/course/search?categoryId=0&amp;orderBy=latest" data-type="course">
                        最新
                    </a>
                    <a href="javascript:;" class="btn btn-default js-course-filter" data-url="/course/search?categoryId=0&amp;orderBy=studentNum" data-type="course">
                        最热
                    </a>
                    <a href="javascript:;" class="btn btn-default js-course-filter" data-url="/course/search?categoryId=0&amp;orderBy=recommendedSeq" data-type="course">
                        推荐
                    </a>*@
            </div>
        </div>
        <div class="course-list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="course-item">
                            <div class="course-img">
                                <a href="@Vars.MAIN_SITE/article/detail/@item.Id" target="_blank">
                                    <span class="tags"><span class="tag-serialing"></span></span>
                                    <img src="@(Vars.FILESTORE_SITE+item.Cover)" alt="@item.Title" class="img-responsive">
                                </a>
                            </div>
                            <div class="course-info">
                                <div class="title">
                                    <a class="link-dark" href="@Vars.MAIN_SITE/article/detail/@item.Id" target="_blank">
                                        @item.Title
                                    </a>
                                </div>
                                <div class="metas clearfix">
                                    <span class="num"><i class="es-icon es-icon-people"></i>@item.PageView</span>
                                    @*<span class="comment"><i class="es-icon es-icon-textsms"></i>54</span>*@

                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
        <pager current-page="@pageIndex" total-page="@totalPage" />
        
        @*<div class="section-more-btn">
            <a href="@Vars.MAIN_SITE/course/explore" class="btn btn-default btn-lg">
                更多文章 <i class="mrs-o es-icon es-icon-chevronright"></i>
            </a>
        </div>*@
    </div>
</section>
