@using CoreFrame.Util;
<!DOCTYPE html>
<html lang="zh_CN" class="">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="@ViewData["Keywords"] " />
    <meta name="description" content="@ViewData["Description"] " />
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
    <script src="/static-dist/libs/html5shiv.js?version=8.2.13"></script>
    <script src="/static-dist/es5-shim/es5-shim.js?version=8.2.13"></script>
    <script src="/static-dist/es5-shim/es5-sham.js?version=8.2.13"></script>
    <![endif]-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/main-v2.css" rel="stylesheet" />
    @RenderSection("head", required: false)

</head>
<body class="es-main-default es-nav-default homepage">
    <!--[if lt IE 9]>
    <script src="/static-dist/libs/fix-ie.js?version=8.2.13"></script>
    <style>
      .lt-ie9 {
        overflow: hidden;
      }
      .ie-mask {
        z-index: 999999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=50);
        opacity: 0.5;
        background: #000;
      }
      .ie-alert-wrap {
        position: absolute;
        z-index: 1000000;
        margin: -200px auto 0;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
      }
      .ie-alert {
        width: 514px;
        height: 397px;
        margin: 0 auto;
      }
      .ie-alert__chrome,
      .ie-alert__firefox {
        position: absolute;
        z-index: 1000001;
        display: block;
        bottom: 48px;
        width: 60px;
        height: 80px;
      }
      .ie-alert__chrome {
        left: 50%;
        margin-left: -80px;
      }
      .ie-alert__firefox {
        right: 50%;
        margin-right: -80px;
      }
    </style>
    <div class="ie-mask"></div>
    <div class="ie-alert-wrap">
      <div class="ie-alert" style="background:url('/static-dist/app/img/browser/browser_update.png?version=8.2.13')">
        <a href="http://www.baidu.com/s?wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8" target="_blank" class="ie-alert__chrome"></a>
        <a href="http://firefox.com.cn/download/" target="_blank" class="ie-alert__firefox"></a>
      </div>
    </div>

    <![endif]-->
    <div class="es-wrap">
        <header class="es-header navbar">
            <div class="navbar-header">
                <div class="visible-xs  navbar-mobile">
                    <a href="javascript:;" class="navbar-more js-navbar-more">
                        <i class="es-icon es-icon-menu"></i>
                    </a>
                    <div class="html-mask"></div>
                    <div class="nav-mobile">
                        <form class="navbar-form" action=" " method="get">
                            <div class="form-group">
                                <input class="form-control" placeholder="搜索" name="q">
                                <button class="button es-icon es-icon-search"></button>
                            </div>
                        </form>
                        <ul class="nav navbar-nav">

                            <li class="">
                                <a href="@Vars.MAIN_SITE/Question">提问 </a>
                            </li>
                            <li class="">
                                <a href="@Vars.MAIN_SITE/mobile/" target="_blank">移动端 </a>
                            </li>
                            <li class="">
                                <a href="@Vars.MAIN_SITE/website/" target="_blank">WEB端 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="@Vars.MAIN_SITE/" class="navbar-brand">
                    编程小站
                </a>
            </div>  <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav clearfix hidden-xs " id="nav">

                    <li class="">
                        <a href="@Vars.MAIN_SITE/Question">提问 </a>
                    </li>
                    <li class="">
                        <a href="@Vars.MAIN_SITE/mobile/" target="_blank">移动端 </a>
                    </li>
                    <li class="">
                        <a href="@Vars.MAIN_SITE/website/" target="_blank">WEB端 </a>
                    </li>
                </ul>
            <div class="navbar-user ">
                    <ul class="nav user-nav">
                        <li class="user-avatar-li nav-hover visible-xs">
                            <a href="javascript:;" class="user-avatar-toggle">
                                <img class="cd-avatar cd-avatar-xs" src="~/images//avatar.png">
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="user-nav-li-login">
                                    <a href="@Vars.MAIN_SITE/home/login?returnUrl=/">
                                        <i class="es-icon es-icon-denglu"></i>登录
                                    </a>
                                </li>
                                <li class="user-nav-li-register">
                                    <a href="@Vars.MAIN_SITE/home/register?returnUrl=/">
                                        <i class="es-icon es-icon-zhuce"></i>注册
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="visitor-li visitor-login-li hidden-xs"><a href="@Vars.MAIN_SITE/home/login?returnUrl=/">登录</a></li>
                        <li class="visitor-li hidden-xs"><a href="@Vars.MAIN_SITE/home/register?returnUrl=/">注册</a></li>
                    </ul>
                    <form class="navbar-form navbar-right hidden-xs" action="@Vars.MAIN_SITE/home/search" method="get">
                        <div class="form-group">
                            <input class="form-control js-search" value="" name="q" placeholder="搜索">
                            <button class="button es-icon es-icon-search"></button>
                        </div>
                    </form>
                </div>
            </nav>
        </header>

        @RenderBody()
        <footer class="es-footer">
            <div class="copyright">
                <div class="container">
                    Copyright ©2018
                    Powered by <a href="@Vars.MAIN_SITE/" target="_blank">www.codegloble.com</a>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
